<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="Medisys_Dev" connectionString="User ID=STUSR17;Password=MedPW1;data source=VA10TWVSQL430\SQL01,10001;Initial Catalog=reports;persist security info=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>